################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj
/.vs/COI Extended/v17/.suo
/.vs/COI Extended/FileContentIndex/0cf3b284-c913-47bc-b0bf-ad34abc1c3a2.vsidx
/.vs/COI Extended/FileContentIndex/f75c080d-56c8-4f64-94ae-3282fe274b87.vsidx
/.vs/COI Extended/FileContentIndex/94de2c59-c34a-4168-9f1e-008a16170b62.vsidx
/.vs/COI Extended/FileContentIndex/f75c080d-56c8-4f64-94ae-3282fe274b87.vsidx
/.vs/COI Extended/v17/.suo
/.gitignore
